<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<h1>ToDo List</h1>

<form action="{{ url_for('routes.home') }}" method="POST">
    <input type="text" name="task" placeholder="Write your next task here...">
    <input type="date" name="event_date">
</form>

<br>

<form action="{{ url_for('routes.home') }}" method="POST">
    <button type="submit" name="save">Save ToDo List</button>
    {% for task in todolist|reverse %}
    <p>
        <input type="checkbox"
               name="task_done_{{task.id}}"
               value="on"
               {% if task.done %}checked{% endif %}
               onchange="this.form.submit();">
        <input type="hidden" name="task_done_{{task.id}}" value="off">

        <input type="text" name="task_text_{{task.id}}" value="{{task.task}}"
               onkeydown="if(event.key==='Enter'){event.preventDefault(); this.form.submit();}">

        <input type="date" name="task_date_{{task.id}}" value="{{task.date}}" onchange="this.form.submit();">
        <button type="submit" name="delete" value="{{task.id}}">Delete</button>
    </p>
    {% endfor %}
</form>
</body>
</html>
